/* TOP NAV */

nav {
    display: flex;
    align-items: center;
    background-color: gray;
    height: 60px;
    padding: 30px 25px;
}

.nav-logo {
    margin: 0;
    height: 40px;
}

.nav-right-menu {
    margin-right: auto;
    font-weight: 700;
    font-size: 22px;
}

.nav-menu {
    text-decoration: none;
}

/* BOTTOM NAV */

.bottom-nav {
    margin-top: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.bottom-nav-logo {
    margin: 0;
    height: 40px;
}

.bottom-nav-left {

}

.bottom-nav-right {

}